# ampt-monitor configuration
logfile = /var/log/ampt-monitor.log
url = https://127.0.0.1:8443/log/receivedlog/
user = _ampt
group = _ampt
disable_cert_verification = yes
hmac_key = 7c7665d000b2d297615b47198d0df54c59ceed2de819e5c84a73d4a9f6d254a8

[monitors]

[[zeek]]
monitor_id = 2
sig_name = ampt-healthcheck
path = /var/log/zeek/signatures.log
format = plain
no_log_protocol = true
